# Nested loops

In [6]:
for i in range(1,3):
    for j in range(1,11):
        print(f"{i}*{j}={i*j}")
    print("_________")

1*1=1
1*2=2
1*3=3
1*4=4
1*5=5
1*6=6
1*7=7
1*8=8
1*9=9
1*10=10
_________
2*1=2
2*2=4
2*3=6
2*4=8
2*5=10
2*6=12
2*7=14
2*8=16
2*9=18
2*10=20
_________

In [14]:
for i in range(0,11):
    print(i,end=" ")

0 1 2 3 4 5 6 7 8 9 10

In [12]:
#print 3 table in functions
def three_table(n):
    for i in range(1,11):
        print(f"{n} * {i} = {i*n}")
three_table(3)

3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
3 * 10 = 30

# patterns
### end=""5

In [19]:
n=int(input())
for i in range(n):
    print("*",end=" ")

 10

* * * * * * * * * *

In [35]:
n=int(input())
for i in range(1,n+1):
    for j in range(1,n+1):
        print("*",end=" ")
    print()

 5

* * * * *
* * * * *
* * * * *
* * * * *
* * * * *

In [40]:
n=int(input())
for i in range(1,3):
    for j in range(1,n+1):
        print("*",end=" ")
    print()

 5

* * * * *
* * * * *

In [42]:
#rectangular pattern
n=int(input())
for i in range(n):
    for j in range(1,n+1):
        print("*",end=" ")
    print()
    print()

 5

* * * * *

* * * * *

* * * * *

* * * * *

* * * * *

In [50]:
for i in range(6):
    for j in range(6):
        if i==j:
            print("*",end=" ")
        else:
            print(" ",end=" ")
    print()

*
  *
    *
      *
        *
          *

In [53]:
for i in range(5):
    for j in range(5):
        if i==j or j==n-1-i:
            print("*",end=" ")
        else:
            print(" ",end=" ")
    print()

*       *
  *   *
    *
  *   *
*       *

In [66]:
for i in range(5):
    for j in range(5):
        if i>=j:
            print("*",end=" ")
    print()

*
* *
* * *
* * * *
* * * * *

In [54]:
for i in range(5):
    for j in range(5):
        if i<=j:
            print("*",end=" ")
        else:
            print(" ",end=" ")
    print()

* * * * *
  * * * *
    * * *
      * *
        *

In [55]:
for i in range(5):
    for j in range(5):
        if i==j or j==n-1 or j==0:
            print("*",end=" ")
        else:
            print(" ",end=" ")
    print()

*       *
* *     *
*   *   *
*     * *
*       *

In [61]:
for i in range(n):
    for j in range(n):
        if i==0 or i==n-1 or (i<=n//2 and j==0) or (i>=n//2 and j ==n-1) or i==n//2 :
            print("*",end=" ")
        else:
            print(" ",end=" ")
    print()

* * * * *
*
* * * * *
        *
* * * * *

In [63]:
for i in range(5):
    for j in range(5):
        print(i+1,end=" ")
    print()

1 1 1 1 1
2 2 2 2 2
3 3 3 3 3
4 4 4 4 4
5 5 5 5 5

In [67]:
for i in range(5):
    for j in range(5):
        if i>=j:
            print(j+1,end=" ")
        else:
            print(end="")
    print()

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5